body {
  background-image: -webkit-linear-gradient(left, #3e065f 50%, #ffffff 50%);
  padding-top: 1%;
}

#root {
  font-family: sans-serif;
  text-align: center;
}

.box {
  width: 300px;
  height: 100px;
  position: fixed;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 5px #888888;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.btn btn-large btn-dark {
  float: center;
}


/* Left side of the screen */
.Left {
  position: relative;
}



.left-heading {
  display: block;
  position: absolute;
  color: #ffffff;
  right: 51%;
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
}

.left-image {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  top: 200px;

}

.left-image img {
  width: 900px;
  height: 500px;
}



/* Right side of the screen */
.Right {
  position: relative;
}


.right-heading {
  display: block;
  position: absolute;
  color: #000;
  left: 51%;
  font-size: 100px;
  font-family: "Cormorant Garamond", serif;
}


.button {
  position: absolute;
  right: 10%;
  top: 150px;
  border: 2px solid transparent;
  border-radius: 15px;
  background: linear-gradient(160deg, #ffffff 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 10px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: 0.15s;
  width: 700px;
  height: 70px;
}

.button.active, .button:active, .button:focus{
  border: 2px solid #fafafa;
  outline: none;
  box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px rgba(0,0,0,0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0,0,0,0.1);
  }

.button.button-fb {
  top: 250px;
}

@media (max-width: 1300px) {
  .start-screen-image {
    height: 400;
    width: 250;
  }
}